* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: slateblue;
}

p {
    color: gold;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
